body{
     margin:0 auto;
     background-color:#b1d4e5;
}
 .navi{
     border-bottom:5px dotted orange;
}
 .logos{
     text-align: center;
}
 .banner{
    /* height:150px;
     */
     line-height: 170px;
     font-size: 20px;
     background-color: white;
     font-family: 'Indie Flower', cursive;
     border-bottom:5px solid orange;
}
 .logo{
     padding-left:50px;
     font-size: 60px;
     background-color:#f2f6fa;
     border-bottom:4px solid palevioletred;
     border-left:4px solid palevioletred;
     border-right:4px solid palevioletred;
    /* background-image: url("./donutBack.jpg");
     */
     background-size: cover;
}
 .links{
     background-color:#f0f0f0;
     margin:0;
     border-right:4px solid palevioletred;
     border-bottom:4px solid palevioletred;
    /* border-left:4px solid orange;
     */
}
 .awning{
     background-color:#ffb900;
    /* border-left:2px solid black;
     border-right:2px solid black;
     */
}
 .awning-red{
     background-color:#b52e31;
     height:150px;
     border-bottom-left-radius:50%;
     border-bottom-right-radius:50%;
}
 .awning-white{
     background-color: white;
     height:150px;
     border-bottom-left-radius:50%;
     border-bottom-right-radius:50%;
}
 #boxDonuts{
     float:left;
     padding-right:50px;
     padding-left:10px;
}
 .grass{
     border-bottom:10px solid green;
}
 .dirt{
     border-top:10px solid #351c15;
     background-image: url("./dirt.jpg") 
}
 .building{
     background-color: #ffb900;
    /* text-align: center;
     */
     font-size: 30px;
    /* height:400px;
     */
    /* 
    /* border-left:2px solid black;
     */
     border-bottom:2px solid black;
     */
}
 .mission{
    /* text-align: center;
     */
    /* height:300px;
     */
    /* font-family: 'Dancing Script', cursive;
     */
     margin:50px 0 100px 0;
}
 .bottomOfStore{
     border-bottom:3px solid black;
}
 .donuts{
     font-size:20px;
}
 th{
     padding-left:30px;
     text-decoration: underline;
}
 table{
     margin-left:10%;
}
 img{
     margin-top:15px;
}
 .about{
     font-size: 20px;
     padding-bottom:50px;
     background-color: #f3f4f7;
     border:5px dotted red;
     margin-left:15px;
    /* font-family: 'Indie Flower', cursive;
     */
}
 .bottomOfHouse{
     background-color:#0a8ea0;
     padding:50px 0 50px 0;
}
 